@import url(./fonts.css);
@import url(./fontello.css);
@import url(./normalize.css);
@import url(./reset.css);
/* 숨김 콘텐츠 */
.a11y-hidden, legend{
  background-color: red;
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}
/* 기본 스타일 */
*, *::before, *::after{
  box-sizing: border-box;
}
html{
  font-size: 10px;
}
/* 링크 스타일 */
a{
  color: inherit;
  text-decoration: none;
}

/* 본문 스타일 */
body{
  /* em, rem 단위 사용 */
  font-size: 1.4rem;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: 212121;
  /* background: #ccc linear-gradient(to bottom, #ccc 0%, #eee 35%, #efefef 70%, #fff 100%); */
  /* background-color: yellow;
  background-image: url(./images/bg_flower.png), linear-gradient(to bottom, #ccc 0%, #eee 35%, #efefef 70%, #fff 100%);
  background-repeat: no-repeat, repeat;
  background-position: 50% 0, 0 0; */
  /* background-size: 100px 100px; */
  /* background-attachment: fixed; 배경이미지를 고정해서 스크롤을 움직여도 그 자리에 그대로 있다. parallax */

  /* 단축속성 */
  background: url(./images/bg_flower.png) no-repeat 50% 0,
  yellow linear-gradient(to bottom, #ccc 0%, #eee 35%, #efefef 70%, #fff 100%) repeat 0 0;
}
/* 레이아웃 */
.header, .visual, .main, .slogan, .footer-inner{
  width: 940px;
  margin: 0 auto;
}

/* 헤더 */
.header{
  background: #fff;
  padding: 0 30px;
  border-radius: 0 0 15px 15px;
  position: relative;
  height: auto;
}
/* 로고 */
.logo{
  position: absolute;
  top: 45px;
  left: 60px;
  z-index: 10;
}

/* 텍스트 링크 모음 */
.member{
  text-align: right;
  padding: 4px 0;
  /* position 속성 활용하여 .member 영역을 오른쪽으로 10px 만큼 이동하기
  position: relative;
  right: -10px; */
  /* transform 속성을 활용하여 .member 영역 오른쪽으로 10px 이동 */
  transform: translateX(10px);
}
.member li{
  display: inline-block;
}
.member li a{
  padding: 6px 10px;
  display: inherit;
  text-transform: uppercase;
}

/* 마지막 li 요소에 포함된 a 요소 선택하여 오른쪽 패딩 0으로 재정의 */
/* .member li:last-child a{
  padding-right: 0;
  text-transform: uppercase;
} */

.divider{
  margin-right: 4px;
}

/* 메인 메뉴 */
.navigation{
  padding-bottom: 40px;
}
.menu{
  border-top: 2px solid currentColor;
  background: #e85e2c
  linear-gradient(
    to bottom,
    #ef9126 0%,
    #e85e2c 35%,
    #e85e2c 70%,
    #ef9126 100%
  );
  border-radius: 0 0 5px 5px;
  /* display: flow-root;  잃어버린 자식요소 때문에 높이를 잃어버려서 준 속성인데 높이를 주는 순간 필요 없어진다. */
  padding-left: 230px;
  height: 47px;  /* border의 2px이 높이에 포함되어야 한다. 높이를 직접 주는 방식으로 플롯의문제를 해결할 수 있다. */
  position: relative; /* 얘가 생기면서 로고가 사라졌다. */
}
/* .menu li{
  float: left;
} */
.menu>li:nth-child(-n+3){
  position: relative;
}
.menu-item{
  float: left;
  border-left: 2px solid #fff; /* border 보다 아래에 위치해야한다.*/
  position: relative;
}
/* 구체성 점수 -> 10점 */
.menu-button{
  border: 0;
  background: transparent;
  padding: 0 23px;
  line-height: 45px; /* padding으로 하면 글자가 가지는 면적이 줄어들게 된다. 따라서 border를 줬을 때 글자 바로 밑에 나타난다. */
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000;
}
/* 구체성 점수 -> 20점 */
/* 흰색이 cascade 되면서 노란색을 바뀔 것 */
.is-active .menu-button{
  color: yellow;
}
.is-active .menu-button::after{ /* after, before 도 inline box 로 만들어짐 */
  content: ""; /* anonymous inline box */
  display: block; /* 블록 속성은 아래로 떨어지기 때문에 이런 성질을 이용해서 상자의 바로 밑에 놓기 */
  border-bottom: 2px solid #212121;
}

.sub-menu{
  position: absolute;
  /* left: 0; */
  top: 47; /* 부모의 높이는 45px, 박스 아래 구분선의 두께 2px = 47px */
  padding: 4px 0;
  display: none;
}

.menu-accessibility, .menu-qna, .menu-archive{
  right: 0;
}


.is-active .sub-menu{
  display: block;
  /* width: 500px; 이렇게 너비를 주는 것은 유지보수 차원에서 좋지않다.*/
  white-space: nowrap; /* 줄바꿈하지 말라는 것. 줄바꿈을 공백문자의 대상으로 삼지마라. -> 자신의 크기를 바꿀 수 없다면 크기를 늘려라. */
}
/* is-active 는 왜 안붙일까?
일단 다 설정해놓고 none 일때만 보이게 하는 것에만 스타일 지정해준것
아래의 것들은 필요없다. */
.sub-menu li{
  display: inline-block;
  /* padding-left: 1em; */
}
.sub-menu a::before{
  content: '\e802';
  font-family: 'fontello';
  font-weight: normal; 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em; 
  margin-left: .2em;
  /* font-smoothing 뭔지 찾아보기 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.sub-menu a:hover::before, .sub-menu a:focus::before{
  content: '\e801';
  /*  둘다 동시에 적용이 되는데, 하나만 적용되게 하려면 js 로 제어해야 한다. */
}
.sub-menu a{
  display: inline-block;
  padding: 6px 0;
}
/* 마우스를 올렸을 때만 바뀌게 */
.sub-menu a:hover, .sub-menu a:focus{
  color: #f00;
}
/* 비주얼 */
/* 키프레임 선언 */
/* @ = at sign rule 은 정의하거나 선언하는 것  */
@keyframes moveEffect{
  0%{
    font-size: 12px; 
    color: hsla(0,0,0,0);
    transform: translate(0,0);
  }
  100%{
    font-size: 24px; 
    color: hsla(0,0,0,1);
    transform: translate(400px, 75px);
  }
}
@keyframes fadeEffect{
  0%{opacity: 1;}
  100%{opacity: 0;}
}

.visual{
  height: 120px;
  position: relative;
}

.visual::before,.visual::after{
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  /* animation-name: fadeEffect;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-direction: alternate; */
  animation: fadeEffect 2000ms infinite alternate;
}

.visual::before{
  background: url(./images/ani_flower_01.png) no-repeat 0 -10px, url(./images/ani_flower_02.png) no-repeat 600px 0;
}
.visual::after{
  background: url(./images/ani_flower_03.png) no-repeat 300px 20%, url(./images/ani_flower_04.png) no-repeat 800px 0;
  animation-delay: 1000ms;
}


/* 선언만 해줘선 안된다. 키프레임 어디다 적용할건지? */
.visual-text{
  font-family: Georgia, 'Times New Roman', Times, serif;
  animation: moveEffect 400ms forwards;
  /* animation-name: moveEffect;
  animation-duration: 400ms;
  animation-fill-mode: forwards; */
  /* 글자가 커진 상태로 멈춘다. 애니메이션이끝난 상태로 유지된다.반대로 backwards 는 애니메이션이 시작한 시점 상태로 멈춘다. 따라서 기본값임.*/  
  /* display: inline-block; */
  position: absolute;
  z-index: 1;
}

/* 메인 */
.main{
  background: #fff;
  min-height: 450px;
  display: flow-root;
  padding: 30px 15px;
  border-radius: 15px 15px 0 0;
  /* border: 1px solid red; */
  /* overflow: hidden; */
  /* BFC */
  /* IE6 - CSS bug 199 */
  /* zoom: 1; IE6 에서 사용하는 것 overflow 보다 위에 씀 */
}
.group{
  float: left;
  margin: 0 15px;
}
/* .clearfix{
  clear: both;
} */
/* .main::after{
  content: "";
  clear: both;
  display: block;
} */
.group1{
  width: 250px;
  /* float: left; */
}
.group2{
  width: 380px;
  /* float: left; */
}
.group3{
  background-color: gold;
  width: 190px;
  /* float: left; */
}
/* 
.main::before{
  content: "첫번째 자식 요소 입니다.";
  background: blue;
  color: white;
}
.main::after{
  content: "마지막 자식 요소 입니다.";
  background: blue;
  color: white;
} */

/* 로그인 */
.login{
  /* 혹시라도 그라디언트를 제공하지 못하더라도 다른 형태로라도 보이게 callback(대안) 디자인을 만드는 것
  -> 항상 이런 식으로 대안을 만들어 놓는 것이 프론트엔드 개발자이다! */
  background: orange radial-gradient(circle at right top, orange, orangered);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 5px 5px 0 0 #bbb;
}
.login h2{
  color: yellow;
  font-weight: 700; /* reset 으로 인해 초기화되었다.*/
  font-size: 18px;
  text-indent: 10px;
}
.login-form{
  padding: 10px;
  background: #fff;
  border-radius: 8px 8px 0 0;
  margin-top: 10px;
}
/* 선생님답 */
.user-email, .user-pw{
  margin-bottom: 5px;
}
.login-form label{
  display: inline-block;
  width: 4em;
}
.login-form input{
  width: 90px;
  height: 24px;
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 1px 1px 1px 5px;
}
.login-form fieldset{
  position: relative;
  padding-bottom: 5px;
  border-bottom: 1px solid #aaa;
}
.login-button{
  position: absolute;
  right: 0;
  top: 0;
  width: 53px;
  height: 53px;
  border: 0;
  background: #e85e2c;
  color: #fff;
  border-radius: 5px;
  font-size: 13px;
}

.sign{
  background: #fff;
  border-radius: 0 0 8px 8px;
  padding: 0 10px 4px 10px;
  font-size: 12px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.sign a{
  display: block;
  padding: 6px 0;
  word-spacing: 0; /* 자간 */
}

.sign li a::before{
  content: '\e803';
  font-family: 'fontello';
  color: #e85e2c;
  margin-right: 3px;
}

/* 유효성 검사 배너 */
.validation-list{
  margin-top: 25px;
  padding: 1px;
}
.validation-list li{
  margin-top: 10px; /* a에 지정해주지 않는 이유 */
}
.validation-list li a{
  display: block;
  padding: 8px 15px 8px 55px;
  background: url(./images/validation_icon.png) no-repeat 25px 50%, #ccc linear-gradient(to bottom, #ccc,#eee);
  border: 1px solid #aaa;
  border-radius: 30px;
}
/* hover 옵션줄때 focus 옵션도 같이 주는 것이 좋다. */
.validation-list li a:hover, .validation-list li a:focus{
  color: red;
}
/* 가상요소는 inline 요소 */
/* .validation-list li a::before{
  content: "";
  width: 16px;
  height: 17px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  
} */

/* 웹 관련 용어 */
.term{
  margin-top: 20px;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 10px 15px;
  background: #ccc linear-gradient(to bottom, #ccc, #eee);
}
.term-title{
  font-size: 1.5rem;
  font-weight: 700;
}
.term-list{
  margin-top: 10px;
}
.term-list div{ /*요소선택자방식 */
  margin-top: 10px;
  /* 두번째 div 은 마진병합이 일어남 */
  display: flow-root;
}
.term-list-subject, .term-list-brief{
  float: right;
  width: 145px;
}
.term-list-subject{
  color: #296897;
  font-weight: 500;
}
.term-list-thumbnail{
  float: left;
}
.term-list-thumbnail img{
  /* display: block; */
  /* inline 박스가 가지고 있는 디센더
  이미지가 여러개 생기면 밑으로 떠러질 것
  그래서 이를 대신하는 것이 vertical align 이다. */
  vertical-align: middle;
  /* vertical 없어도 부모요소에 flex 를 주면 갭이 사라진다. 초기화시킬 때 모든 이미지를 vertical align 을 쓰긴한다. middle 말고 top을 쓰기도한다.
  어떤 업체는 top 을 쓴다. */
}
.term-list-brief{
  margin-top: 5px;
  line-height: 1.5;
  /* 1.6이 가장 가독성 높음 */
}
.even .term-list-subject, .even .term-list-brief{
  float: left;
}
.even .term-list-thumbnail{
  float: right;
}

/* 검색 폼  */
.search-form{
  background: #ccc linear-gradient(to bottom, #ccc, #eee);
  border-radius: 15px 15px 0 0;
  border: 1px solid #aaa;
  padding: 15px 25px 10px 25px;
}
.search-form-inner{
  display: flex;
  flex-flow: row nowrap;
  /* justify-content: space-between; */
}
.form-group{ /*flex*/
  /* background: pink; */
  flex-grow: 1;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding-right: 10px;
}
.form-group-label{ /* flex-item */
  /* white-space: nowrap; */
  /* 강제로 줄바꿈 문제 해결 */
  flex-shrink: 0;
  margin-right: 10px;
}
.form-group-input{
  border: 1px solid #aaa;  
  border-radius: 3px;
  height: 24px;
  padding: 1px 1px 1px 5px;
  flex-grow: 1;
  /* 파이어폭스에서 넘치는 현상 해결하는 방법
  -> 지금은 해결이 안 됨 */
  /* min-width: 0; */
  /* max-width: 100%; */
  width: 100%;
  /* ->해결 완료 */
}
.search-button{
  flex-shrink: 0;
  /* white-space:nowrap;  */
  /* 강제로 줄바꿈 문제 해결 */
  background: #212121;
  color: #fff;
  height: 24px;
  border: 0;
  border-radius: 3px;
  padding: 0 10px;
  font-size: 1.2rem;
}

/* 공지사항 및 자료실 */
.board, .board-list{
  margin-top: 20px;
  position: relative;
}
.tablist{
  display: flex;
  flex-flow: row nowrap;
}
.tab{
  border: 1px solid #aaa;
  background: #ccc;
  border-radius: 5px 5px 0 0;
  padding: 7px 15px;
  color: #666;
}
.tab.is-select{
  background: #fff;
  color: #e85e2c;
  /* border: 1px solid #e85e2c;
  border-bottom: 0; */
  border-color: currentColor currentColor #fff currentColor;
}

.tab-panel{
  display: none;
  margin-top: 15px;
}
.tab-panel.is-select{
  display: block;
}

.board-list li{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-top: 10px;
}
.board-list li a{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; /* 말줄임표. 혼자안쓰이고 세트로 쓰임 */
  flex-shrink: 1; /* 너비를 지정해주는 대신 shrink 로 축소시킴 */
}
.board-list time{
  flex-shrink: 0;
  margin-left: 10px;
}

.board-more{
  position: absolute;
  top: -8px;
  right: -8px;
  padding: 8px; /* 필수는 아님. 키보드 클릭영역을 넓히기 위해*/
}
.icon-plus::before{
  color: hsla(110, 50%, 30%, 1);
  /* 색의 농도를 결정하기 좋다. */
}

/* 슬로건 */
.slogan{
  background: skyblue;
  height: 10vh;
  /* clear: both; */
}

/* 푸터 */
.footer{
  background: gray;
  background: #ccc linear-gradient(to bottom, #ccc 0%, #eee 35%, #efefef 60%, #fff 100%);
}
.footer-inner{
  height: 15vh;
  background: silver;
}
